{% extends "orgs/show.html" %} {% load i18n %} {% block title %}{% trans
"Repositories" %}{% endblock %} {% block org_content %} {% if repo_list %}

<div class="col-md-6">
  <h3>Repositories</h3>
  <ul class="list-group">
    {% for repo in repo_list %}
    <a
      href="{% url 'repos_show' org_name repo.name %}"
      class="list-group-item list-group-item-action"
    >
      <b> {{ repo.name }} </b>
    </a>
    {% endfor %}
  </ul>
</div>
{% else %}
<p>You don't have any repositories.</p>
{% endif %} {% endblock %}
