{% extends "base.html" %} {% load i18n %}
{% block title %}{% trans "Roles" %} {% endblock %}
{% block content %}

<h1>
  <a href="{% url 'repos_index' org_name %}">{{ org_name }}</a> /
  <a href="{% url 'repos_show' org_name repo_name %}">{{ repo_name }}</a>
</h1>

<div class="col-md-6">
  <h2>People</h2>

  <ul class="list-group">
    {% for user_form in user_forms %}
    <form action="{% url 'repo_roles_index' org_name repo_name %}" method="post">
      {% csrf_token %} {{ user_form.1 }}
      <input type="hidden" name="username" value="{{ user_form.0 }}" />
      <input type="submit" value="Submit" />
    </form>
    {% endfor %}
  </ul>
  <br />
  <h2>Teams</h2>
  <ul class="list-group">
    {% for team_form in team_forms %}
    <form action="{% url 'repo_roles_index' org_name repo_name %}" method="post">
      {% csrf_token %} {{ team_form.1 }}
      <input type="hidden" name="teamname" value="{{ team_form.0 }}" />
      <input type="submit" value="Submit" />
    </form>
    {% endfor %}
  </ul>
</div>
{% endblock %}