{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "View Repository" %}{% endblock %}
{% block content %}
<h1>
  <a href="{% url 'repos_index' org_name %}">{{ repo.organization }}</a>
  / {{ repo.name }}
</h1>

<br />

<h5>Commits: {{ commits }}</h5>
<h5>Contributors: {{ contributors }}</h5>
<h5>Last updated: {{ last_updated }}</h5>

<br />

<div>
  <a href="{% url 'issues_index' org_name repo.name %}">
    <h4 class="text-primary">
      <b>
        <pre>View Issues</pre></b>
    </h4>
  </a>
</div>

<br />

<div>
  <a href="{% url 'repo_roles_index' org_name repo.name %}">
    <h4 class="text-primary">
      <b>
        <pre>Manage Access</pre></b>
    </h4>
  </a>
</div>
<br />
<form action="{% url 'repos_show' org_name repo.name %}" method="post">
  {% csrf_token %}
  <button class="btn btn-primary" type="submit" name="delete_repo" value="">
    Delete Repository
  </button>
</form>

{% endblock %}